{% extends "layout.html" %}
{% block content %}
    <div class="container text-center">
        <h1 style="font-size: 30px;">Rent of Roommates</h1>
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Roommate</th>
                        <th>Room</th>
                        <th>Rent</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in range(size) %}
                        <tr>
                            <td>Roommate {{ i + 1 }}</td>
                            <td>Room {{ final[i][0] + 1 }}</td>
                            <td>{{ final[i][1] }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock content %}
