<!DOCTYPE html>
<html>
<head>
    <title>Matrix Display</title>
    <style>
        body {
            font-size: 2.5em;
            background-color: #f3dfe6;
        }
        table {
            border-collapse: collapse;
            margin: auto;
            width: 60%;
            background-color: white;
            text-align: center;
        }
        th, td {

            padding: 10px;
            border: 1px solid black;
        }
        th {
            background-color: #e4c2d4;
        }
    </style>
</head>
<body>
    <center><h1 style="text-align: center;">Rent of Roommates</h1>
    {% for i in range(size) %}
            <tr>
                <td>Rent of Roommate {{i + 1}} for room {{final[i][0] + 1}} is {{final[i][1]}}:</td>
                <!-- {% for val in final[i] %}
                    <td>{{ val[0] }}</td>
                {% endfor %} -->
                <br>
            </tr>
    {% endfor %}
    </center>
</body>
</html>
